.globalBrands {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  .globalBrandsWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   
    .caseStudy {
      color: #316ec2;
      font-size: 14px;
      letter-spacing: 2.8px;
    }
    .workGlobal {
      font-size: 38px;
      color: #003072;
      letter-spacing: -2px;
      line-height: 45px;
    }
    .sort{
        display: flex;
        width: 90%;
        justify-content: space-between;
        .input{
            width: 500px;
            height: 50px;
        }
        button{
            background-color: white;
      border: 2px solid #316ec2;
      width: 155px;
      height: 49px;
      font-size: 17px;
      color: #316ec2;
      line-height: 26px;
      &:hover{
        background-color:#316ec2;
        border: 2px solid #316ec2;
        transition: 300ms;
        color: #ffffff;
    }
        }
    }
    .cards {
      display: flex;
      gap: 30px;
      justify-content: center;

      .card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .image {
          width: 416px;
          height: 281px;
          cursor: pointer;
        }
        .name {
          font-size: 24px;
          color: #003072;
          line-height: 34px;
          cursor: pointer;
        }
        .author {
          font-size: 16px;
          color: #4c526e;
          line-height: 23px;
        }
        .wishlist{
            cursor: pointer;
            font-size: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
    .sort {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
  }
